/**********************************************
 *
 *  ___       _   _                    _ 
 * / __| |     | | | |                  | |
 * | |_| | __ _| |_| |__   ___  __ _  __| |
 * |  _| |/ _` | __| '_ \ / _ \/ _` |/ _` |
 * | | | | (_| | |_| | | |  __/ (_| | (_| |
 * |_| |_|\__,_|\__|_| |_|\___|\__,_|\__,_|
 * https://t.me/krestovsky
 *
 *
 **********************************************/


/**************************
 * Normalize [START]
 **************************/

* {
	box-sizing: border-box;
	scrollbar-width: thin;
  	scrollbar-color: rgb(46,46,46) transparent;

	&::-webkit-scrollbar {
		width: 2px;
		height: 2px;
	}
	&::-webkit-scrollbar-button {
		width: 0px;
		height: 0px;
	}
	&::-webkit-scrollbar-thumb {
		background: #2e2e2e;
		border: 0px none #ffffff;
		border-radius: 50px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #404040;
	}
	&::-webkit-scrollbar-thumb:active {
		background: #1c1c1c;
	}
	&::-webkit-scrollbar-track {
		background: #ffffff;
		border: 0px none #ffffff;
		border-radius: 50px;
	}
	&::-webkit-scrollbar-track:hover {
		background: #d6d6d6;
	}
	&::-webkit-scrollbar-track:active {
		background: #b0b0b0;
	}
	&::-webkit-scrollbar-corner {
		background: transparent;
	}
}

html,
body {
	margin: 0;
	padding: 0;
}
/* Normalize [END] */

/**************************
 * Menu [START]
 **************************/

section.farm-wrapper {
	height: 500px;
	background-color: #f2f2f2; // TODO Удалить
	@media screen and (max-width: 1180px) {
		padding: 0 20px;
	}
	position: relative;

	.clouds {
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 11;
		top: 0;
		left: 0;
		overflow: hidden;
		pointer-events: none;

		@-webkit-keyframes animCloud {
			from {
				-webkit-transform: translateX(100%)
			}
			to {
				-webkit-transform: translateX(-100%)
			}
		}
		@-moz-keyframes animCloud {
			from {
				-moz-transform: translateX(100%)
			}
			to {
				-moz-transform: translateX(-100%)
			}
		}
		@keyframes animCloud {
			from {
				-webkit-transform: translateX(100%);
				-moz-transform: translateX(100%);
				-ms-transform: translateX(100%);
				-o-transform: translateX(100%);
				transform: translateX(100%)
			}
			to {
				-webkit-transform: translateX(-100%);
				-moz-transform: translateX(-100%);
				-ms-transform: translateX(-100%);
				-o-transform: translateX(-100%);
				transform: translateX(-100%)
			}
		}
		img.cloud {
			width: 100%;
			left: 0;
			top: 0;
			position: absolute;
			-webkit-user-select: none; 
			-moz-user-select: none;   
			-ms-user-select: none;
			user-select: none;    
			pointer-events: none;
			z-index: 12;
		}
		.cloud1 {
			-webkit-animation: animCloud 20s infinite linear;
			-moz-animation: animCloud 20s infinite linear;
			animation: animCloud 20s infinite linear
		}
		.cloud2 {
			-webkit-animation: animCloud 40s infinite linear;
			-moz-animation: animCloud 40s infinite linear;
			animation: animCloud 40s infinite linear
		}
		.cloud3 {
			-webkit-animation: animCloud 60s infinite linear;
			-moz-animation: animCloud 60s infinite linear;
			animation: animCloud 60s infinite linear
		}
		.cloud4 {
			-webkit-animation: animCloud 80s infinite linear;
			-moz-animation: animCloud 80s infinite linear;
			animation: animCloud 80s infinite linear
		}
	}

	// Контейнер для блоков
	.farm-container {
		margin: 0 auto;
		height: 100%;
		max-width: 1140px;
		background-color: #f2f2f2; // TODO Удалить
		position: relative;
		@media screen and (max-width: 1180px) {
			overflow-x: scroll;
		}
		a {
			// Общий селектор блоков
			
			.farm-item {
				position: absolute;
				filter: brightness(80%) grayscale(50%) drop-shadow( 0 0 0 rgba(200, 200, 200, 1));
				transition: all .15s;
				//clip-path: url(#SvgOne);
				//-webkit-clip-path: url(#SvgOne);
				//overflow: visible;
				&:hover {
					transition: all .30s;
					filter: brightness(100%) grayscale(0);
				}
				img {
					object-fit: cover;
					transition: all .15s;
					filter: drop-shadow( 0 0 0 rgba(48, 38, 28, 1));
				}
				// Отдельные блоки
				&.item-1 {
					bottom: 20.6%;
					left: 0;
					z-index: 10;
					
				}
				&.item-2 {
					bottom: 36.3%;
					left: 140px;
					z-index: 9;
				}
				&.item-3 {
					bottom: 52%;
					left: 280px;
					z-index: 8;
				}
				&.item-4 {
					bottom: 19%;
					left: 284.5px;
					z-index: 10;
				}
				&.item-5 {
					bottom: 34.7%;
    				left: 424.6px;
    				z-index: 9;
				}
				&.item-6 {
					bottom: 50.3%;
					left: 564.8px;
					z-index: 8;
				}
				&.item-7 {
					bottom: 17.4%;
					left: 569px;
					z-index: 9;
				}
				&.item-8 {
					bottom: 0.1%;
    				left: 713.2px;
					z-index: 10;
				}
				&.item-9 {
					bottom: 33.2%;
					left: 708.2px;
					z-index: 8;
				}
				&.item-10 {
					bottom: 48.82%;
					left: 848px;
					z-index: 7;
				}
			}
			&[data-interactive="true"] {
				.farm-item {
					&:hover {
						transform: translateY(-10px);
						filter: brightness(100%) grayscale(0) drop-shadow( 0 20px 10px rgba(200, 200, 200, 1));
						img {
							transition: all .30s;
							filter: drop-shadow( 0 10px 0 rgba(48, 38, 28, 1));
						}
					}
				}
			}
		}
		
	}
}

/* Menu [END] */