/**********************************************
 *
 *  ___       _   _                    _ 
 * / __| |     | | | |                  | |
 * | |_| | __ _| |_| |__   ___  __ _  __| |
 * |  _| |/ _` | __| '_ \ / _ \/ _` |/ _` |
 * | | | | (_| | |_| | | |  __/ (_| | (_| |
 * |_| |_|\__,_|\__|_| |_|\___|\__,_|\__,_|
 * https://t.me/krestovsky
 *
 *
 **********************************************/
/**************************
 * Normalize [START]
 **************************/
* {
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: #2e2e2e transparent;
}

*::-webkit-scrollbar {
	width: 2px;
	height: 2px;
}

*::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

*::-webkit-scrollbar-thumb {
	background: #2e2e2e;
	border: 0px none #ffffff;
	border-radius: 50px;
}

*::-webkit-scrollbar-thumb:hover {
	background: #404040;
}

*::-webkit-scrollbar-thumb:active {
	background: #1c1c1c;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
	border: 0px none #ffffff;
	border-radius: 50px;
}

*::-webkit-scrollbar-track:hover {
	background: #d6d6d6;
}

*::-webkit-scrollbar-track:active {
	background: #b0b0b0;
}

*::-webkit-scrollbar-corner {
	background: transparent;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Normalize [END] */
/**************************
 * Menu [START]
 **************************/
section.farm-wrapper {
	position: relative;
}

@media screen and (max-width: 1180px) {
	section.farm-wrapper {
		padding: 0 20px;
	}
}

section.farm-wrapper .farm-title-container {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink-caret {
	50% {
		border-color: #2231ff;
	}
}

@keyframes title-shadow {
	100% {
		filter: drop-shadow(0 4px 6px #d6d6d6);
	}
}

section.farm-wrapper .farm-title-container h1#farm-title {
	border-right: 2px solid transparent;
	font-size: 1.4rem;
	font-weight: normal;
	width: auto;
	margin: 2rem 1rem;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (max-width: 480px) {
	section.farm-wrapper .farm-title-container h1#farm-title {
		width: 100%;
		white-space: pre-wrap;
		text-align: center;
		font-size: 1.2rem;
	}
}

section.farm-wrapper .farm-title-container h1#farm-title img {
	margin-right: 6px;
}

section.farm-wrapper .clouds {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 11;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	opacity: .9;
}

@media screen and (max-width: 480px) {
	section.farm-wrapper .clouds {
		display: none;
	}
}

@-webkit-keyframes animCloud {
	from {
		-webkit-transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(-100%);
	}
}

@-moz-keyframes animCloud {
	from {
		-moz-transform: translateX(100%);
	}
	to {
		-moz-transform: translateX(-100%);
	}
}

@keyframes animCloud {
	from {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

section.farm-wrapper .clouds img.cloud {
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 12;
}

section.farm-wrapper .clouds .cloud1 {
	-webkit-animation: animCloud 20s infinite linear;
	-moz-animation: animCloud 20s infinite linear;
	animation: animCloud 20s infinite linear;
}

section.farm-wrapper .clouds .cloud2 {
	-webkit-animation: animCloud 40s infinite linear;
	-moz-animation: animCloud 40s infinite linear;
	animation: animCloud 40s infinite linear;
}

section.farm-wrapper .clouds .cloud3 {
	-webkit-animation: animCloud 60s infinite linear;
	-moz-animation: animCloud 60s infinite linear;
	animation: animCloud 60s infinite linear;
}

section.farm-wrapper .clouds .cloud4 {
	-webkit-animation: animCloud 80s infinite linear;
	-moz-animation: animCloud 80s infinite linear;
	animation: animCloud 80s infinite linear;
}

section.farm-wrapper .farm-container {
	margin: 0 auto;
	height: 500px;
	max-width: 1140px;
	position: relative;
	border-radius: 20px;
}

section.farm-wrapper .farm-container::before {
	border-radius: 20px;
	content: '';
	background: #f3f5f4e4;
	position: absolute;
	z-index: 12;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

section.farm-wrapper .farm-container .loader {
	--path: #2F3545;
	--dot: #5628EE;
	--duration: 3s;
	width: 44px;
	height: 44px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 13;
	display: inline-block;
	margin: 0 16px;
}

section.farm-wrapper .farm-container .loader:before {
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	display: block;
	background: var(--dot);
	top: 37px;
	left: 19px;
	transform: translate(-18px, -18px);
	animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

section.farm-wrapper .farm-container .loader svg {
	display: block;
	width: 100%;
	height: 100%;
}

section.farm-wrapper .farm-container .loader svg rect {
	fill: none;
	stroke: var(--path);
	stroke-width: 10px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-dasharray: 192 64 192 64;
	stroke-dashoffset: 0;
	animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathRect {
	25% {
		stroke-dashoffset: 64;
	}
	50% {
		stroke-dashoffset: 128;
	}
	75% {
		stroke-dashoffset: 192;
	}
	100% {
		stroke-dashoffset: 256;
	}
}

@keyframes dotRect {
	25% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(18px, -18px);
	}
	75% {
		transform: translate(0, -36px);
	}
	100% {
		transform: translate(-18px, -18px);
	}
}

@keyframes farm-layout {
	99% {
		opacity: 0;
	}
	100% {
		opacity: 0;
		pointer-events: none;
	}
}

@keyframes loader-anim {
	100% {
		opacity: 0;
		pointer-events: none;
	}
}

section.farm-wrapper .farm-container.loaded::before {
	animation: farm-layout 1s forwards linear;
}

section.farm-wrapper .farm-container.loaded .loader {
	animation: loader-anim 1s forwards linear;
}

@media screen and (max-width: 1180px) {
	section.farm-wrapper .farm-container {
		overflow-x: scroll;
	}
}

section.farm-wrapper .farm-container a .farm-item {
	position: absolute;
	filter: brightness(80%) grayscale(50%);
	transition: all .15s;
}

@media screen and (max-width: 480px) {
	section.farm-wrapper .farm-container a .farm-item {
		filter: none;
	}
}

section.farm-wrapper .farm-container a .farm-item:hover {
	transition: all .30s;
	filter: brightness(100%) grayscale(0);
}

section.farm-wrapper .farm-container a .farm-item img {
	object-fit: cover;
	transition: all .15s;
}

section.farm-wrapper .farm-container a .farm-item.item-1 {
	bottom: 20.6%;
	left: 0;
	z-index: 10;
	clip-path: url(#SvgPath-block-1);
}

section.farm-wrapper .farm-container a .farm-item.item-2 {
	bottom: 36.3%;
	left: 140px;
	z-index: 9;
	clip-path: url(#SvgPath-block-2);
}

section.farm-wrapper .farm-container a .farm-item.item-3 {
	bottom: 52%;
	left: 280px;
	z-index: 8;
	clip-path: url(#SvgPath-block-3);
}

section.farm-wrapper .farm-container a .farm-item.item-4 {
	bottom: 19.2%;
	left: 284.2px;
	z-index: 10;
	clip-path: url(#SvgPath-block-4);
}

section.farm-wrapper .farm-container a .farm-item.item-5 {
	bottom: 34.8%;
	left: 424px;
	z-index: 9;
	clip-path: url(#SvgPath-block-5);
}

section.farm-wrapper .farm-container a .farm-item.item-6 {
	bottom: 50.3%;
	left: 564.8px;
	z-index: 8;
	clip-path: url(#SvgPath-block-6);
}

section.farm-wrapper .farm-container a .farm-item.item-7 {
	bottom: 17.6%;
	left: 568px;
	z-index: 9;
	clip-path: url(#SvgPath-block-7);
}

section.farm-wrapper .farm-container a .farm-item.item-8 {
	bottom: 0.5%;
	left: 712px;
	z-index: 10;
	clip-path: url(#SvgPath-block-8);
}

section.farm-wrapper .farm-container a .farm-item.item-9 {
	bottom: 33.2%;
	left: 708.2px;
	z-index: 8;
	clip-path: url(#SvgPath-block-9);
}

section.farm-wrapper .farm-container a .farm-item.item-10 {
	bottom: 48.82%;
	left: 848px;
	z-index: 7;
	clip-path: url(#SvgPath-block-10);
}

section.farm-wrapper .farm-container a[data-interactive="true"] .farm-item:hover {
	transform: translateY(-10px);
	filter: brightness(100%) grayscale(0);
}

section.farm-wrapper .farm-container a[data-interactive="true"] .farm-item:hover img {
	transition: all .30s;
}

/* Menu [END] */

/*# sourceMappingURL=style.css.map */